@import "variables";

.Layout {
  height: 100vh;
  &__Header {
    height: $header-height;
  }

  &__Page {
    position: relative;
    height: calc(100vh - #{$header-height});
    overflow-y: scroll;
  }
}
