<div #tContainer class="FriendsList">
  <div (click)="this.isOpen ? this.collapse() : this.expand(tContainer)" class="FriendsList__Header px-2">
    <span [class.digging]="this.$pinCoin.isDigging" class="mr-1"></span>
    <p>{{this.$pinCoin.isDigging ? "挖礦中" : "空閑"}}</p>
    <div class="FriendsList__Online">
      {{this.onlineFriends.length}}
    </div>
  </div>
  <div *ngIf="this.isOpen" class="FriendsList__Container">
    <ul class="p-2">
      <li class="py-2" *ngFor="let friend of this.friends; let index =index; trackBy:index">
        <p [class.online]="friend.status === this.status.Online" [class.offline]="friend.status === this.status.Offline"
          [class.digging]="friend.status === this.status.Digging">{{friend.name}}</p>
      </li>
    </ul>
  </div>
</div>
