@import "variables";

.Dashboard {
  height: 100%;
  img {
    width: 1.5rem;
    height: 1.5rem;
  }
  button {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    height: 2.5rem;
    width: auto !important;
    color: $white;
    border: $white 1px solid;
    &:hover {
      color: $primary;
      border-color: $primary;
    }
  }
  &__Digging {
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      position: relative;
      em {
        position: absolute;
        top: 50%;
        right: -2rem;
        animation-name: rotatation;
        animation-duration: 1s;
        animation-iteration-count: infinite;
      }
    }
  }
  &__Coins {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 2px solid $white;
    border-radius: 100%;
    height: 18rem;
    width: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: map-get($font-size, "lgx");
  }
}

@media screen and (max-width: map-get($grid-breakpoints, "md")) {
  .Dashboard {
    &__Coins {
      width: 12rem;
      height: 12rem;
      font-size: map-get($font-size, "lg");
      h1 {
        font-size: map-get($font-size, "lgx");
      }
    }
    button {
      bottom: 1rem;
      right: 1rem;
    }
  }
}

@keyframes rotatation {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }

  100% {
    transform: translateY(-50%) rotate(359deg);
  }
}
